{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static '/style/style.css' %}">
</head>
<body>
  
  <nav class="navbar bg-body-tertiary ">
    <div class="container n">
      <div class="item"><a class="nav-link" href="{% url 'index' %}">Home</a></div>
      <div class="item"><a class="nav-link" href="{% url 'about_me' %}">About Me</a></div>
      <div class="item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></div>
      <div class="item"><a class="nav-link" href="#">Contact</a></div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>