@font-face {
  font-family: Itim;
  src: url("/static/assets/fonts/Itim-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Itim;
  background: rgb(33,37,41) url("/static/assets/image/back.svg") no-repeat;
  background-size: 100%;
  color: rgba(33, 37, 41);
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}

#offcanvasDarkNavbarLabel{
  margin-left: 20px;
}

.ctn{
  margin: 0px 20px;
}



.nav-item{
  font-size: 20px;
  margin-left: 20px;
}



